Repository ArionStudio/engr-serverless-pm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm ext:lint, pnpm ext:format, pnpm ext:build, pnpm res:build

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["pnpm ext:lint", "pnpm ext:format"],
  "*.{json,md,yml,yaml}": ["pnpm ext:format"],
  "extension/**/*.{js,ts,jsx,tsx}": ["pnpm ext:build"],
  "research/*.tex": ["pnpm res:build"]
}

fix: update to contain only flow diagrams
  docs/architecture/flow/00-flow-overview.puml
  docs/architecture/flow/01-key-derivation-master-kek.flow.puml
  docs/architecture/flow/01-master-password-kek.flow.puml
  docs/architecture/flow/02-vault-encrypt-decrypt.flow.puml
  docs/architecture/flow/02-vault-encryption.flow.puml
  docs/architecture/flow/03-genesis-first-time-setup.flow.puml
  docs/architecture/flow/03-genesis.flow.puml
  docs/architecture/flow/04-unlock-lock.flow.puml
  docs/architecture/flow/04-vault-unlock-lock.flow.puml
  docs/architecture/flow/05-offline-queue-processing.flow.puml
  docs/architecture/flow/05-password-crud.flow.puml
  docs/architecture/flow/06-sync-conflict-resolution.flow.puml
  docs/architecture/flow/06-sync-upload-download.flow.puml
  docs/architecture/flow/07-offline-queue.flow.puml
  docs/architecture/flow/09-device-registration.flow.puml
  docs/architecture/flow/10-device-revocation.flow.puml
  docs/architecture/flow/11-autofill.flow.puml
  docs/architecture/flow/12-save-password.flow.puml
Due: none

feat: add state-machine diagrams
  docs/architecture/state-machine/01-offline-queue.state-machine.puml
  docs/architecture/state-machine/02-vault-lock-unlock.state-machine.puml
  docs/architecture/state-machine/03-device-lifecycle.state-machine.puml
Due: none

feat: add sequence diagrams
  docs/architecture/sequence/01-password-crud-operations.sequence.puml
  docs/architecture/sequence/02-cloud-sync-upload-download.sequence.puml
  docs/architecture/sequence/03-multi-device-registration.sequence.puml
  docs/architecture/sequence/04-device-revocation-key-rotation.sequence.puml
  docs/architecture/sequence/05-browser-autofill.sequence.puml
  docs/architecture/sequence/06-browser-save-password.sequence.puml
Due: none

fix: make consistency fix
  docs/architecture/state-machine/01-offline-queue.state-machine.puml
Due: none

docs: update error in docs and restructurize docs files placemnet
  CLAUDE.md
  apps/extension/docs/temp-react-patterns.md
  docs/architecture/00-architecture-overview.puml
  docs/architecture/01-key-hierarchy.puml
  docs/architecture/02-trust-boundaries.puml
  docs/architecture/architecture-comparison.md
  docs/design/multi-device-setup.md
  docs/design/password-organization.md
  docs/design/sync-strategy.md
  docs/development/conventions.md
  docs/development/react-patterns.md
  docs/security/security-specification.md
Due: pnpm ext:format

docs: update error in docs and restructurize docs files placemnet
  CLAUDE.md
  TODO.md
  docs/architecture/architecture-comparison.md
  docs/design/password-organization.md
  docs/design/sync-strategy.md
  docs/development/react-patterns.md
Due: pnpm ext:format

chore: update gitignore
  .gitignore
Due: none

feat(extension): migrate key wrapping from AES-KW to AES-256-GCM (A256GCMKW)
  ROADMAP.md
  TODO.md
  apps/extension/src/adapters/crypto/web-crypto-api.adapter.test.ts
  apps/extension/src/adapters/crypto/web-crypto-api.adapter.ts
  apps/extension/src/adapters/device/web-crypto-device-key.adapter.test.ts
  apps/extension/src/adapters/device/web-crypto-device-key.adapter.ts
  apps/extension/src/core/crypto/algorithms/key-wrap.const.ts
  apps/extension/src/core/crypto/algorithms/key-wrap.params.ts
  apps/extension/src/core/crypto/algorithms/key-wrap.type.ts
  apps/extension/src/core/crypto/crypto.utils.test.ts
  apps/extension/src/core/crypto/crypto.utils.ts
  apps/extension/src/core/crypto/suites/algorithm-suite.const.ts
  apps/extension/src/core/crypto/suites/algorithm-suite.helpers.ts
  apps/extension/src/core/device/device-key.type.ts
  apps/extension/src/lib/secure-wipe.utils.test.ts
  apps/extension/src/lib/secure-wipe.utils.ts
  apps/extension/vitest.config.ts
  docs/architecture/00-architecture-overview.puml
  docs/architecture/01-key-hierarchy.puml
  docs/architecture/02-trust-boundaries.puml
  docs/architecture/flow/03-genesis-first-time-setup.flow.puml
  docs/architecture/sequence/03-multi-device-registration.sequence.puml
  docs/architecture/sequence/04-device-revocation-key-rotation.sequence.puml
  docs/security/security-specification.md
Due: pnpm ext:lint, pnpm ext:format

feat(extension): add standard test vectors, memory guards, and type compilation tests
  ROADMAP.md
  TODO.md
  apps/extension/package.json
  apps/extension/src/adapters/crypto/web-crypto-api.adapter.test.ts
  apps/extension/src/core/crypto/keys/crypto-keys.typecheck.ts
  apps/extension/tsconfig.app.json
  apps/extension/tsconfig.typecheck.json
Due: pnpm ext:lint, pnpm ext:format

feat(extension): rename recovery key to secret key and add self-enrollment device flow
  ROADMAP.md
  TODO.md
  apps/extension/src/core/crypto/crypto.port.ts
  apps/extension/src/core/device/device-environment.type.ts
  apps/extension/src/core/device/device.type.ts
  apps/extension/src/core/vault/key-slot.type.ts
  apps/extension/src/core/vault/key-slot.util.ts
  docs/architecture/01-key-hierarchy.puml
  docs/architecture/flow/03-genesis-first-time-setup.flow.puml
  docs/architecture/sequence/03-multi-device-registration.sequence.puml
  docs/architecture/sequence/04-device-revocation-key-rotation.sequence.puml
  docs/design/multi-device-setup.md
  docs/security/security-specification.md
Due: pnpm ext:lint, pnpm ext:format

feat(extension): implement IndexedDB storage adapter with Dexie.js
  apps/extension/package.json
  apps/extension/src/adapters/storage/.gitkeep
  apps/extension/src/adapters/storage/dexie-storage.adapter.test.ts
  apps/extension/src/adapters/storage/dexie-storage.adapter.ts
  apps/extension/src/infrastructure/database/dexie-db.migration.test.ts
  apps/extension/src/infrastructure/database/dexie-db.ts
  pnpm-lock.yaml
Due: pnpm ext:lint, pnpm ext:format

refactor(extension): migrate device key port and adapter from AlgorithmSuite to CryptoProfile
  apps/extension/src/adapters/device/web-crypto-device-key.adapter.test.ts
  apps/extension/src/adapters/device/web-crypto-device-key.adapter.ts
  apps/extension/src/core/crypto/formats/key-format.type.ts
  apps/extension/src/core/crypto/formats/serialization-suite.registry.ts
  apps/extension/src/core/crypto/formats/serialization-suite.type.ts
  apps/extension/src/core/device/device-key.port.ts
  docs/architecture/02-trust-boundaries.puml
  docs/architecture/architecture-comparison.md
Due: pnpm ext:lint, pnpm ext:format

refactor: small code changes
  AGENTS.md
  README.md
  ROADMAP.md
  TODO.md
  apps/extension/config/manifest.json
  apps/extension/src/adapters/device/web-crypto-device-key.adapter.test.ts
  apps/extension/src/adapters/device/web-crypto-device-key.adapter.ts
  apps/extension/src/adapters/storage/dexie-storage.adapter.test.ts
  apps/extension/src/adapters/storage/dexie-storage.adapter.ts
  apps/extension/src/core/device/device-key.port.ts
  apps/extension/src/core/device/device-key.type.ts
  apps/extension/src/core/storage/storage.port.ts
  apps/extension/src/core/storage/storage.type.ts
  apps/extension/src/core/sync/sync.port.ts
  apps/extension/src/infrastructure/database/dexie-db.migration.test.ts
  docs/aws/s3-cognito/README.md
  docs/design/sync-strategy.md
  docs/development/conventions.md
  docs/development/reference-links.md
  docs/security/security-specification.md
  providers/aws/s3-cognito.template.yaml
Due: pnpm ext:lint, pnpm ext:format

fix: remove app pepper becouse its dont add safty layer to our app
  ROADMAP.md
  apps/extension/src/core/crypto/crypto.port.ts
  apps/extension/src/core/crypto/crypto.utils.test.ts
  apps/extension/src/core/crypto/crypto.utils.ts
  docs/architecture/01-key-hierarchy.puml
  docs/architecture/flow/01-key-derivation-master-kek.flow.puml
  docs/security/security-specification.md
Due: pnpm ext:lint, pnpm ext:format

docs: add report on what was done for now
  docs/report/Report_nr_1.md
  docs/report/Report_nr_1.pdf
Due: pnpm ext:format

refactor(ui): reorganize extension entrypoints and theme feature
  apps/extension/src/extension/options/options.tsx
  apps/extension/src/extension/popup/popup.tsx
  apps/extension/src/ui/components/options.tsx
  apps/extension/src/ui/components/popup.tsx
  apps/extension/src/ui/entrypoints/options/options.view.tsx
  apps/extension/src/ui/entrypoints/popup/popup.view.tsx
  apps/extension/src/ui/features/theme/index.ts
  apps/extension/src/ui/features/theme/theme-toggle.view.tsx
  apps/extension/src/ui/features/theme/theme.context.tsx
  apps/extension/src/ui/features/theme/theme.hook.ts
  apps/extension/src/ui/views/index.ts
  apps/extension/src/ui/views/options-page.view.tsx
Due: pnpm ext:lint, pnpm ext:format

docs: update enrollment design and add report materials
  CLAUDE.md
  CONTRIBUTING.md
  docs/design/multi-device-setup.md
  docs/development/reference-links.md
  docs/report/Report_nr_2.md
  docs/report/Report_nr_2_Main_Flows.md
  docs/report/Report_nr_2_Sensitive_Data_Assets.md
  docs/security/security-specification.md
  link.md
Due: pnpm ext:format

fix: change our system design
  .gitignore
  __AGENTS.md
  docs/pytm/requirements.txt
  docs/report/Report_nr_2.md
  docs/report/Report_nr_2_Main_Flows.md
  docs/report/Report_nr_2_Sensitive_Data_Assets.md
  docs/report/Report_nr_3.md
  docs/report/Report_nr_3_1_What_Are_We_Working_On.md
  docs/report/Report_nr_3_2_What_Can_Go_Wrong.md
  docs/report/Report_nr_3_3_What_Are_We_Going_To_Do_About_It.md
  docs/report/Report_nr_3_4_Did_We_Do_A_Good_Enough_Job.md
Due: pnpm ext:format

fix: resolve deprecation warning
  apps/extension/tsconfig.app.json
  apps/extension/tsconfig.json
Due: pnpm ext:format

feat(extension-core): add vault initialization domain types
  apps/extension/src/core/domain/common/brand-keys.ts
  apps/extension/src/core/domain/crypto/algorithm-suite.const.ts
  apps/extension/src/core/domain/crypto/algorithm-suite.type.ts
  apps/extension/src/core/domain/crypto/brand-keys.ts
  apps/extension/src/core/domain/crypto/protected-artifact.ts
  apps/extension/src/core/domain/device/brand-keys.ts
  apps/extension/src/core/domain/device/device-access-material.ts
  apps/extension/src/core/domain/device/device.ts
  apps/extension/src/core/domain/local-protection/local-protection.type.ts
  apps/extension/src/core/domain/master-password.ts
  apps/extension/src/core/domain/password-entry.ts
  apps/extension/src/core/domain/recovery/bip39-mnemonic.ts
  apps/extension/src/core/domain/recovery/brand-keys.ts
  apps/extension/src/core/domain/snapshot/brand-keys.ts
  apps/extension/src/core/domain/snapshot/key-slot.ts
  apps/extension/src/core/domain/snapshot/vault-snapshot.ts
  apps/extension/src/core/domain/tag.ts
  apps/extension/src/core/domain/vault/unlocked-vault.ts
  apps/extension/src/core/domain/vault/vault.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): add ports for vault initialization
  apps/extension/src/core/ports/bip39.port.ts
  apps/extension/src/core/ports/clock.port.ts
  apps/extension/src/core/ports/crypto.port.ts
  apps/extension/src/core/ports/id.port.ts
  apps/extension/src/core/ports/unlocked-vault-repository.port.ts
  apps/extension/src/core/ports/vault-local-repository.port.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): implement initialize vault use case
  apps/extension/src/core/use-cases/initialize-vault.ts
Due: pnpm ext:lint, pnpm ext:format

test(extension-core): cover initialize vault use case
  apps/extension/src/core/__tests__/fixtures/initialize-vault.ts
  apps/extension/src/core/__tests__/fixtures/ports.ts
  apps/extension/src/core/__tests__/fixtures/values.ts
  apps/extension/src/core/use-cases/__tests__/initialize-vault.test.ts
Due: pnpm ext:lint, pnpm ext:format

refactor(extension): use DOM Base64URLString type
  apps/extension/src/lib/base64Url.utils.ts
Due: pnpm ext:lint, pnpm ext:format

chore(extension-core): add use case class placeholders
  apps/extension/src/core/use-cases/add-entry.ts
  apps/extension/src/core/use-cases/change-master-password.ts
  apps/extension/src/core/use-cases/copy-entry-password.ts
  apps/extension/src/core/use-cases/delete-local-vault.ts
  apps/extension/src/core/use-cases/generate-password.ts
  apps/extension/src/core/use-cases/generate-username.ts
  apps/extension/src/core/use-cases/initialize-device-enrollment.ts
  apps/extension/src/core/use-cases/lock-vault.ts
  apps/extension/src/core/use-cases/perform-device-enrollment.ts
  apps/extension/src/core/use-cases/read-entry.ts
  apps/extension/src/core/use-cases/recover-vault-access.ts
  apps/extension/src/core/use-cases/remove-cloud-sync-files.ts
  apps/extension/src/core/use-cases/remove-entry.ts
  apps/extension/src/core/use-cases/remove-local-sync-credentials.ts
  apps/extension/src/core/use-cases/resolve-sync-conflict.ts
  apps/extension/src/core/use-cases/reveal-entry-password.ts
  apps/extension/src/core/use-cases/revoke-device.ts
  apps/extension/src/core/use-cases/search-entries.ts
  apps/extension/src/core/use-cases/setup-sync.ts
  apps/extension/src/core/use-cases/sync-download.ts
  apps/extension/src/core/use-cases/sync-upload.ts
  apps/extension/src/core/use-cases/unlock-vault.ts
  apps/extension/src/core/use-cases/update-entry.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): add local vault descriptors
  apps/extension/src/core/__tests__/fixtures/initialize-vault.ts
  apps/extension/src/core/__tests__/fixtures/ports.ts
  apps/extension/src/core/__tests__/fixtures/values.ts
  apps/extension/src/core/domain/vault/local-vault-descriptor.ts
  apps/extension/src/core/ports/vault-display-name.port.ts
  apps/extension/src/core/ports/vault-local-repository.port.ts
  apps/extension/src/core/use-cases/__tests__/initialize-vault.test.ts
  apps/extension/src/core/use-cases/initialize-vault.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): implement unlock vault use case
  apps/extension/src/core/__tests__/fixtures/unlock-vault.ts
  apps/extension/src/core/domain/device/device-access-material.ts
  apps/extension/src/core/use-cases/__tests__/unlock-vault.test.ts
  apps/extension/src/core/use-cases/errors/unlock-vault.errors.ts
  apps/extension/src/core/use-cases/unlock-vault.ts
Due: pnpm ext:lint, pnpm ext:format

docs(report): update vault lifecycle model
  docs/report/Report_nr_2.md
  docs/report/Report_nr_2_Main_Flows.md
  docs/report/Report_nr_2_Sensitive_Data_Assets.md
  docs/report/Report_nr_3_1_What_Are_We_Working_On.md
Due: pnpm ext:format

feat(extension-core): add local vault listing use case
  apps/extension/src/core/use-cases/__tests__/list-local-vaults.test.ts
  apps/extension/src/core/use-cases/list-local-vaults.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): implement lock vault use case
  apps/extension/src/core/use-cases/__tests__/lock-vault.test.ts
  apps/extension/src/core/use-cases/lock-vault.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): implement delete local vault use case
  apps/extension/src/core/use-cases/__tests__/delete-local-vault.test.ts
  apps/extension/src/core/use-cases/delete-local-vault.ts
  apps/extension/src/core/use-cases/errors/delete-local-vault.errors.ts
Due: pnpm ext:lint, pnpm ext:format

feat(extension-core): add master password change use case
  apps/extension/src/core/__tests__/fixtures/change-master-password.ts
  apps/extension/src/core/__tests__/fixtures/ports.ts
  apps/extension/src/core/__tests__/fixtures/values.ts
  apps/extension/src/core/use-cases/__tests__/change-master-password.test.ts
  apps/extension/src/core/use-cases/change-master-password.ts
  apps/extension/src/core/use-cases/errors/change-master-password.errors.ts
  apps/extension/src/core/use-cases/errors/delete-local-vault.errors.ts
  apps/extension/src/core/use-cases/errors/vault-session.errors.ts
Due: pnpm ext:lint, pnpm ext:format

docs(report): track deferred recovery sync problem
  docs/report/Report_nr_4.md
Due: pnpm ext:format

fix(extension-core): address vault lifecycle review issues
  apps/extension/src/core/__tests__/fixtures/ports.ts
  apps/extension/src/core/__tests__/fixtures/unlock-vault.ts
  apps/extension/src/core/domain/device/device.ts
  apps/extension/src/core/domain/snapshot/vault-snapshot.ts
  apps/extension/src/core/ports/vault-local-repository.port.ts
  apps/extension/src/core/use-cases/__tests__/delete-local-vault.test.ts
  apps/extension/src/core/use-cases/__tests__/initialize-vault.test.ts
  apps/extension/src/core/use-cases/__tests__/unlock-vault.test.ts
  apps/extension/src/core/use-cases/delete-local-vault.ts
  apps/extension/src/core/use-cases/errors/unlock-vault.errors.ts
  apps/extension/src/core/use-cases/initialize-vault.ts
  apps/extension/src/core/use-cases/unlock-vault.ts
Due: pnpm ext:lint, pnpm ext:format

fix(extension-core): validate suite before password change
  apps/extension/src/core/use-cases/__tests__/change-master-password.test.ts
  apps/extension/src/core/use-cases/__tests__/unlock-vault.test.ts
  apps/extension/src/core/use-cases/change-master-password.ts
  apps/extension/src/core/use-cases/errors/algorithm-suite.errors.ts
  apps/extension/src/core/use-cases/errors/unlock-vault.errors.ts
  apps/extension/src/core/use-cases/unlock-vault.ts
Due: pnpm ext:lint, pnpm ext:format
