Repository ArionStudio/engr-serverless-pm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format, pnpm --filter serverless-pm-extension run build, pnpm --filter serverless-pm-research run build

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "pnpm --filter serverless-pm-extension run lint",
    "pnpm --filter serverless-pm-extension run format"
  ],
  "*.{json,md,yml,yaml}": ["pnpm --filter serverless-pm-extension run format"],
  "extension/**/*.{js,ts,jsx,tsx}": [
    "pnpm --filter serverless-pm-extension run build"
  ],
  "research/*.tex": ["pnpm --filter serverless-pm-research run build"]
}

chore: refactor and organize package.json scripts
  package.json
  research/package.json
Due: pnpm --filter serverless-pm-extension run format

docs(research): improve LaTeX document formatting
  research/Research.tex
Due: pnpm --filter serverless-pm-research run build

chore: improve .gitignore files
  extension/.gitignore
  research/.gitignore
Due: none

chore(ext): add extension scripts
  extension/package.json
Due: pnpm --filter serverless-pm-extension run format

chore(ext): remove dist from repo
  extension/dist/background.js
  extension/dist/icon.svg
  extension/dist/index.css
  extension/dist/index.js
  extension/dist/manifest.json
  extension/dist/options.html
  extension/dist/options.js
  extension/dist/popup.html
  extension/dist/popup.js
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format, pnpm --filter serverless-pm-extension run build

fix(ext): resolve linting issues
  extension/eslint.config.mjs
  extension/src/components/Options.tsx
  extension/src/components/ui/button.tsx
  extension/src/options.tsx
  extension/src/vite-env.d.ts
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format, pnpm --filter serverless-pm-extension run build

style(ext): apply formatting changes
  .lintstagedrc
  extension/build.sh
  extension/package.json
  extension/src/components/Popup.tsx
  extension/src/lib/utils.ts
  extension/src/popup.tsx
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format, pnpm --filter serverless-pm-extension run build

chore: update pnpm lockfile
  pnpm-lock.yaml
Due: pnpm --filter serverless-pm-extension run format

refactor(repo): move extension to apps/ and research to docs/
  apps/extension/.gitignore
  apps/extension/README.md
  apps/extension/build.sh
  apps/extension/components.json
  apps/extension/eslint.config.mjs
  apps/extension/options.html
  apps/extension/package.json
  apps/extension/popup.html
  apps/extension/public/icon.svg
  apps/extension/public/manifest.json
  apps/extension/src/background.test.ts
  apps/extension/src/background.ts
  apps/extension/src/components/Options.tsx
  apps/extension/src/components/Popup.tsx
  apps/extension/src/components/ui/button.tsx
  apps/extension/src/index.css
  apps/extension/src/lib/utils.ts
  apps/extension/src/options.tsx
  apps/extension/src/popup.tsx
  apps/extension/src/vite-env.d.ts
  apps/extension/tsconfig.app.json
  apps/extension/tsconfig.json
  apps/extension/tsconfig.node.json
  apps/extension/vite.config.ts
  docs/research/.gitignore
  docs/research/Research.tex
  docs/research/package.json
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

chore(workspace): update pnpm workspace and scripts for new paths
  pnpm-workspace.yaml
Due: pnpm --filter serverless-pm-extension run format

feat(aws): add CloudFormation template and docs
  TODO.md
  docs/aws/s3-cognito-extension/README.md
  providers/aws/s3-cognito-extension.yaml
Due: pnpm --filter serverless-pm-extension run format

chore(deps): update pnpm lockfile
  pnpm-lock.yaml
Due: pnpm --filter serverless-pm-extension run format

fix(aws): resolve CloudFormation template deployment issues
  docs/aws/s3-cognito-extension/README.md
  providers/aws/s3-cognito-extension.yaml
Due: pnpm --filter serverless-pm-extension run format

refactor(aws): rename s3-cognito template and update docs
  docs/aws/s3-cognito/README.md
  providers/aws/s3-cognito.template.yaml
Due: pnpm --filter serverless-pm-extension run format

docs: update aws config readme and add info about s3 to reasearch
  docs/aws/s3-cognito/README.md
  docs/research/Research.tex
Due: pnpm --filter serverless-pm-extension run format

refactor(extension): reorganize files to provide more scallable structure
  README.md
  apps/extension/assets/icon.svg
  apps/extension/build.sh
  apps/extension/components.json
  apps/extension/config/eslint.config.mjs
  apps/extension/config/manifest.json
  apps/extension/config/vite.config.ts
  apps/extension/package.json
  apps/extension/scripts/build.sh
  apps/extension/src/background/background.test.ts
  apps/extension/src/background/background.ts
  apps/extension/src/infrastructure/storage/access/access.strategy.ts
  apps/extension/src/infrastructure/storage/providers/provider.adapter.ts
  apps/extension/src/infrastructure/storage/storage.factory.ts
  apps/extension/src/presentation/components/Options.tsx
  apps/extension/src/presentation/components/Popup.tsx
  apps/extension/src/presentation/components/ui/button.tsx
  apps/extension/src/presentation/index.css
  apps/extension/src/presentation/lib/utils.ts
  apps/extension/src/presentation/options.tsx
  apps/extension/src/presentation/pages/options.html
  apps/extension/src/presentation/pages/popup.html
  apps/extension/src/presentation/popup.tsx
  apps/extension/tsconfig.node.json
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

refactor(extension): simplify structure and build
  apps/extension/components.json
  apps/extension/config/eslint.config.mjs
  apps/extension/config/vite.config.ts
  apps/extension/options.html
  apps/extension/popup.html
  apps/extension/scripts/build.sh
  apps/extension/src/adapters/storage/access/access.strategy.ts
  apps/extension/src/adapters/storage/providers/provider.adapter.ts
  apps/extension/src/adapters/storage/storage.factory.ts
  apps/extension/src/extension/background/background.test.ts
  apps/extension/src/extension/background/background.ts
  apps/extension/src/extension/options/options.tsx
  apps/extension/src/extension/popup/popup.tsx
  apps/extension/src/ui/components/options.tsx
  apps/extension/src/ui/components/popup.tsx
  apps/extension/src/ui/components/primitives/button.tsx
  apps/extension/src/ui/lib/utils.ts
  apps/extension/src/ui/styles/index.css
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

chore(extension): add .gitkeep placeholders
  apps/extension/src/adapters/auth/.gitkeep
  apps/extension/src/adapters/crypto/.gitkeep
  apps/extension/src/core/.gitkeep
Due: none

Add MIT License to the project
  LICENSE
Due: none

docs: add instruction for how to build latex document
  docs/research/build/README.md
Due: pnpm --filter serverless-pm-extension run format

docs: fix syntax errors
  README.md
Due: pnpm --filter serverless-pm-extension run format

docs: add contributing guidelines and expand TODO
  CONTRIBUTING.md
  TODO.md
Due: pnpm --filter serverless-pm-extension run format

chore: update dependencies and fix dev mode
  apps/extension/config/eslint.config.mjs
  apps/extension/config/vite.config.ts
  apps/extension/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

chore: backup all changes before splitting into issues
  TODO.md
  apps/extension/components.json
  apps/extension/docs/architecture-comparison.md
  apps/extension/docs/conventions.md
  apps/extension/docs/password-organization.md
  apps/extension/docs/sync-strategy.md
  apps/extension/docs/temp-react-patterns.md
  apps/extension/package.json
  apps/extension/src/adapters/theme/document-theme.adapter.ts
  apps/extension/src/adapters/theme/index.ts
  apps/extension/src/adapters/theme/local-storage-theme.adapter.ts
  apps/extension/src/adapters/theme/media-query-system-theme.adapter.ts
  apps/extension/src/core/theme/index.ts
  apps/extension/src/core/theme/resolved-theme.type.ts
  apps/extension/src/core/theme/system-theme-detector.port.ts
  apps/extension/src/core/theme/theme-applier.port.ts
  apps/extension/src/core/theme/theme-preference.type.ts
  apps/extension/src/core/theme/theme-repository.port.ts
  apps/extension/src/core/theme/theme.hook.ts
  apps/extension/src/extension/options/options.tsx
  apps/extension/src/extension/popup/popup.tsx
  apps/extension/src/ui/components/options.tsx
  apps/extension/src/ui/components/popup.tsx
  apps/extension/src/ui/components/primitives/button.tsx
  apps/extension/src/ui/lib/cn.util.ts
  apps/extension/src/ui/styles/index.css
  apps/extension/src/ui/theme/index.ts
  apps/extension/src/ui/theme/theme-toggle.view.tsx
  apps/extension/src/ui/theme/theme.context.tsx
  apps/extension/src/ui/views/index.ts
  apps/extension/src/ui/views/options-page.view.tsx
  apps/extension/src/ui/views/options.view.tsx
  pnpm-lock.yaml
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

docs(extension): add architecture comparison document
  apps/extension/docs/architecture-comparison.md
Due: pnpm --filter serverless-pm-extension run format

docs(extension): add password organization design document
  apps/extension/docs/password-organization.md
Due: pnpm --filter serverless-pm-extension run format

docs(extension): add sync strategy and multi-device setup design documents
  apps/extension/docs/multi-device-setup.md
  apps/extension/docs/sync-strategy.md
Due: pnpm --filter serverless-pm-extension run format

docs(extension): add conventions and React patterns guides
  apps/extension/docs/conventions.md
  apps/extension/docs/react-patterns.md
Due: pnpm --filter serverless-pm-extension run format

docs: add security specification with algorithm suites
  security-specification.md
Due: pnpm --filter serverless-pm-extension run format

docs: expand TODO with architecture, security, and sync details
  TODO.md
Due: pnpm --filter serverless-pm-extension run format

docs(extension): address PR review feedback
  apps/extension/docs/architecture-comparison.md
  apps/extension/docs/multi-device-setup.md
  apps/extension/docs/password-organization.md
  apps/extension/docs/sync-strategy.md
Due: pnpm --filter serverless-pm-extension run format

refactor(extension): prepare hexagonal architecture directory structure
  apps/extension/src/adapters/storage/.gitkeep
  apps/extension/src/adapters/storage/access/access.strategy.ts
  apps/extension/src/adapters/storage/providers/provider.adapter.ts
  apps/extension/src/core/crypto/.gitkeep
  apps/extension/src/core/passwords/.gitkeep
  apps/extension/src/core/storage/.gitkeep
  apps/extension/src/ui/components/primitives/button.tsx
  apps/extension/src/ui/lib/cn.util.ts
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

refactor(extension): switch UI primitives to Base UI
  apps/extension/package.json
  apps/extension/src/ui/styles/index.css
  pnpm-lock.yaml
Due: pnpm --filter serverless-pm-extension run format

refactor: simplify theme feature
  apps/extension/src/extension/options/options.tsx
  apps/extension/src/ui/components/options.tsx
  apps/extension/src/ui/components/popup.tsx
  apps/extension/src/ui/theme/index.ts
  apps/extension/src/ui/theme/theme-toggle.view.tsx
  apps/extension/src/ui/theme/theme.context.tsx
  apps/extension/src/ui/theme/theme.hook.ts
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

fix: remove isLoading from theme feature
  apps/extension/src/ui/views/options-page.view.tsx
  apps/extension/src/ui/views/options.view.tsx
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

fix: remove all unused files from refractor
  apps/extension/src/adapters/theme/document-theme.adapter.ts
  apps/extension/src/adapters/theme/index.ts
  apps/extension/src/adapters/theme/local-storage-theme.adapter.ts
  apps/extension/src/adapters/theme/media-query-system-theme.adapter.ts
  apps/extension/src/core/theme/index.ts
  apps/extension/src/core/theme/resolved-theme.type.ts
  apps/extension/src/core/theme/system-theme-detector.port.ts
  apps/extension/src/core/theme/theme-applier.port.ts
  apps/extension/src/core/theme/theme-preference.type.ts
  apps/extension/src/core/theme/theme-repository.port.ts
  apps/extension/src/core/theme/theme.hook.ts
  apps/extension/src/ui/views/options.view.tsx
Due: pnpm --filter serverless-pm-extension run lint, pnpm --filter serverless-pm-extension run format

docs: add CLAUDE.md
  CLAUDE.md
Due: pnpm --filter serverless-pm-extension run format

docs: add ROADMAP.md with phased implementation plan
  CLAUDE.md
  ROADMAP.md
Due: pnpm --filter serverless-pm-extension run format

docs: update ROADMAP.md
  ROADMAP.md
Due: pnpm --filter serverless-pm-extension run format

docs: create flow diagrams
  docs/architecture/flow/00-flow-overview.puml
  docs/architecture/flow/01-master-password-kek.flow.puml
  docs/architecture/flow/02-vault-encryption.flow.puml
  docs/architecture/flow/03-genesis.flow.puml
  docs/architecture/flow/04-unlock-lock.flow.puml
  docs/architecture/flow/05-password-crud.flow.puml
  docs/architecture/flow/06-sync-upload-download.flow.puml
  docs/architecture/flow/07-offline-queue.flow.puml
  docs/architecture/flow/08-conflict-resolution.flow.puml
  docs/architecture/flow/09-device-registration.flow.puml
  docs/architecture/flow/10-device-revocation.flow.puml
  docs/architecture/flow/11-autofill.flow.puml
  docs/architecture/flow/12-save-password.flow.puml
Due: none
